@model Contact
<div class="container">
    <div class="col-md-12">
        <h4>04</h4>
        <h1 class="size-50">Contact  Me</h1>
        <div class="h-50"></div>
    </div>
    <div class="col-md-4">
        <h3>Phone Number</h3>
        <p>@Model.Phone</p>
        <h3>Email</h3>
        <p>@Model.Email</p>
        <h3>Social Network</h3>

        <ul class="social">
            <li><a href="https://twitter.com/@Model.Twitter" target="_blank"><i class="ion-social-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/@Model.Instagram" target="_blank"><i class="ion-social-instagram"></i></a></li>
            <li><a href="https://github.com/@Model.GitHub" target="_blank"><i class="ion-social-github"></i></a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="h-50"></div>
    </div>
    <div class="col-md-8" >
        <form class="contact-bg" id="contact-form" name="contact" method="post" novalidate="novalidate">
            <input type="text"  name="name" class="form-control" placeholder="Your Name" />
            <input type="email" name="email" class="form-control" placeholder="Your E-mail" />
            <input type="tel" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" maxlength="11" name="phone" class="form-control" placeholder="Phone Number" />
            <textarea name="message" class="form-control" placeholder="Your Message" style="height:120px"></textarea>
            <button id="submit" type="submit" name="submit" class="btn btn-glance">Send</button>
            <div id="success">
                <p class="green textcenter"> Your message was sent successfully! I will be in touch as soon as I can. </p>
            </div>
            <div id="error">
                <p> Something went wrong, try refreshing and submitting the form again. </p>
            </div>
        </form>
    </div>
</div>