@model Informashion
<div class="container">
    <div class="disply-table">
        <div class="table-cell" data-aos="fade-up" data-aos-delay="0">
            <h4>@Model.Name @Model.Family</h4>
            <h1>@Model.Skill</h1>
        </div>
    </div>
</div>